<!DOCTYPE html>
<html>
<head>
    <title>Lifelong Learning Manager 🧠</title>
    <style>
        body { font-family: Arial, sans-serif; margin-top: 50px; text-align: center; }
        ul { list-style: none; padding: 0; }
        li { font-size: 18px; margin: 10px 0; }
    </style>
</head>
<body>

    <h2>🟢 Topics under this Schedule are:</h2>

    <ul>
        {% for topic in topics %}
            <li>
                {{ topic.seq_number }}. {{ topic.title }} - 
                {% if topic.status %}
                    ✅
                {% else %}
                    ❌
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div style="text-align: center; margin-top: 30px;">
        <div style="display: inline-flex; gap: 15px;">
    <a href="{{ url_for('schedule') }}">
        <button class="btn">⬅️ Back to Schedules</button>
    </a>

    <form action="{{ url_for('ai_agent_summary', utid=utid) }}" method = "post">
        <button class="btn" type="submit">🚀 Continue Learning</button>
      </form>
</body>
</html>
